@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap')

@font-face 
  font-family: 'Lido STF Condensed'
  src: url('./typography/Lido STF Cond Regular.ttf') format('truetype')


// $font-hero: 'Powerr', Poppins, sans-serif
$font-hero: "Titan One", sans-serif

$font-serif: "Lido STF Condensed", serif